{% extends 'base.html.twig' %}
{% block body %}
<div class="container">

  <!-- Introduction Row -->
  <h1 class="my-4">A propos du blog</h1>
  <p>Ce blog est réalisé dans le cadre du projet symfony. </p>
  <p>Repository git du blog sur:
    Pour plus de détails voir le fichier <b>README.md</b> dans la racine du projet
  </p>

  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="my-4">Réalisé par:</h2>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/150x150" alt="">
      <h4>EL OUAHABI Kaoutar</h4>
      <small>Master 2 - parcours IPS</small>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/150x150" alt="">
      <h4>SOUHEILLI MAJD Mariam</h4>
      <small>Master 2 - parcours IPS</small>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/150x150" alt="">
      <h4>BA Khaled</h4>
      <small>Master 2 - parcours IPS</small>
    </div>
  </div>

</div>
{% endblock %}
