{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <!-- Page Heading -->
  <h1 class="my-4">{{ post.title }}</h1>
  <hr>
  <div class="col-md-12">
    <p>{{ post.body|raw }}</p>
    <div>
      <span class="badge">Publié le {{ post.dateAdd|date('d/m/Y H:i:s')  }}</span>
    </div>

    <hr>
  </div>
</div>
<!-- /.container -->
{% endblock %}
